<div class="headers">
  <h1>About us</h1>
</div>
<p>We buy and sell new and used bicycles in and around Berlin, Germany. Pedal power people!</p>

<div class="container-fluid" id="video">
  <div class="video">
    <div class="embed-responsive embed-responsive-4by3">
      <iframe allowfullscreen src="https://www.youtube.com/embed/56bkaEyScX0"></iframe>
    </div>
  </div>
</div><!--Contact section-->
