<div class="jumbotron headers">
  <h1>About us</h1>
  <p>We buy and sell new and used bikepacking bikes. Pedal power people!</p>
</div>

<div class="container-fluid about_us">
  <div class="row">
    <div class="col-sm-4">
      <h3>About</h3>
      <%=image_tag('10.jpg', :class => "img-responsive aboutImg")%>
      <p>Fashion axe wayfarers iceland intelligentsia YOLO, keffiyeh adaptogen tbh man braid scenester. Pork belly artisan fanny pack bitters meggings. Crucifix craft beer lumbersexual, man braid raw denim swag salvia banh mi bushwick vegan air plant lo-fi. Affogato next level marfa semiotics. Brooklyn cardigan gluten-free salvia, mumblecore lumbersexual next level live-edge.
      </p>
    </div>
    <div class="col-sm-4">
      <h3>Team</h3>
      <%=image_tag('12.jpg', :class => "img-responsive aboutImg")%>
      <p>Four dollar toast succulents umami offal poke tousled semiotics venmo vice chambray pickled pinterest shoreditch farm-to-table. Raw denim pitchfork 3 wolf moon bitters yr paleo kombucha. Vape photo booth pork belly, man bun church-key yr listicle plaid XOXO organic. Gentrify tilde la croix, messenger bag bitters XOXO forage brunch edison bulb wayfarers cornhole bespoke 90's occupy. Meditation master cleanse quinoa cold-pressed helvetica marfa yr post-ironic deep v gastropub adaptogen green juice put a bird on it. Humblebrag subway tile mixtape, seitan raw denim pinterest succulents.
      </p>
    </div>
    <div class="col-sm-4">
      <h3>Culture</h3>
      <%=image_tag('11.jpg', :class => "img-responsive aboutImg")%>
      <p>Lorem ipsum dolor amet yOLO paleo scenester single-origin coffee palo santo af ugh leggings bespoke, chillwave ennui sriracha everyday carry. Lyft cray celiac normcore, offal tofu enamel pin PBRB pickled gluten-free cred drinking vinegar ramps kitsch. Gluten-free sartorial trust fund tousled. Messenger bag blog marfa church-key, roof party fam cold-pressed thundercats cliche normcore mixtape bicycle rights taiyaki quinoa.</p>
    </div>
  </div>
</div>

<div class="container-fluid" id="video">
  <div class="video">
    <div class="embed-responsive embed-responsive-4by3">
      <iframe allowfullscreen src="https://www.youtube.com/embed/56bkaEyScX0"></iframe>
    </div>
  </div>
</div><!--Contact section-->
