<div class="img-wrapper">
  <% cache do %>
  <%= image_tag('covers/1.jpg' , :class => "img-responsive", id:"Bikers")%>
  <% end %>
  <div class="img-overlay">
    <div class="mainTitle">
    <h1>Bike Everywhere</h1>
  </div>
    <%= link_to 'Shop', products_path, class: "ghost-button btn", role:"button", id:"HomepageLinkButton"%>
  </div>
</div>
