// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*{border: 1px solid red;}*/

h1, h2, h3, p, .navbar-collapse {
  font-family: 'Pathway Gothic One', sans-serif;
  text-align: center;
}
.headers {
  padding-bottom: 10px;
  margin-top: 80px;
}
p, a {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 1.25em;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.container-fluid {
    margin: 0 10px;
}
.text-muted {
  font-family: 'Poiret One', cursive;
}
.footer {position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
}
// .row {
//   padding: 0 50px;
// }
.carousel {
    position: relative;
    padding: 10px;
    width: 90%;
    margin: 10px auto;
}
.item img {
margin: 0 auto;
}
.carousel-control.left, .carousel-control.right {
 background-image:none;
 outline: 0;
 opacity: 1;
}
//Horizontally centering search bar
.form-inline {
margin-top: 8px;
   }
#nav_search {
     margin-left: 10px;
   }
a:hover {
 text-decoration: none !important;
}
.home-icon {
  padding: 8px 0;
}
.navbar-right li {
  margin-right: 10px
}
.form-horizontal {
  max-width: 600px;
  margin: 0 auto;
}

.form-signup, .form-signin, .form-forgottenpassword {
  max-width: 350px;
  margin: 0 auto;
}
.form_links{
  text-align: center;
  margin-top: 20px;
}
.contact_box {
  max-width: 400px;
  margin: 0 auto;
}
.form-control, .btn {
  border-radius: 10px;
}
#ContactSendButton {
  float: right;
}
#nav_search
{
  font-family: 'Pathway Gothic One', sans-serif;
}
// .cover {
//   background-image: url("/images/covers/Outdoorbikecover.jpeg");
//   width: 100%;
//   background-repeat: no-repeat;
//   background-size: cover;
// }
// #Bikers {
//     background-repeat: no-repeat;
//     background-size: cover;
// }
// .bg {
//   width: 100%;
// }
html, body {
  padding: 0;
  margin: 0;
}
#navigation-bar {
  opacity: 0.8;
}
#Bikers {
  position: relative;
// z-index: -1;
}
.span {
 position: absolute;
}
// h1 {
//   padding-top: 40px;
// }
.show_product {
  margin-top: 80px;
  max-width: 960px;

}
// #ProductImage {
//   max-width: 960px;

#ProductName {
  text-align: left;
}
#ProductPrice {
  text-align: right;
}
// .left {
//   float: left;
//   width: 125px;
//   text-align: left;
//   margin: 2px 10px;
//   // display: inline;
// }
//
// .right {
//   float: right;
//   text-align: right;
//   margin: 2px 10px;
//   // display: inline;
// }
.h {
  display: flex;
  justify-content: space-between;
}
.product_name, .product_price {
width: 50%
}
.product_name h2 {
  text-align: left;
}
.product_price h2 {
  text-align: right;
}
#ProductNav {
  padding-top: 20px;
}
