// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*{border: 1px solid red;}*/

body {
  margin-top: 70px;
}
h1, h2, p  {
  text-align: center
}
h1, h2, .navbar-collapse {
  font-family: 'Poiret One', cursive;
}
p {
  font-family: 'Pathway Gothic One', sans-serif;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.container-fluid {
    margin: 0 15px;
}

.text-muted {
  font-family: 'Poiret One', cursive;
}

.footer {position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;

}
