<p id="notice"><%= notice %></p>
<div class="headers">
  <h1>Products</h1>
</div>



<div class="container-fluid products_main">
  <% cache(cache_key_for_products) do %>
    <%= render @products %>
  <% end %>
</div>

<br>

<div class="container-fluid">
  <p>
    <% if signed_in? && current_user.admin? %>
    <%= link_to 'New Product', new_product_path, class: "btn btn-default btn-lg link-buttons" %>
    <% end %>
  </p>
</div>
