<p id="notice"><%= notice %></p>
<div class="headers">
  <h1>Products</h1>
</div>



<div class="container-fluid products_main">
  <%= render @products %>
</div>

<br>

<%= link_to 'New Product', new_product_path %>

 <!-- unless product.image_url.blank? -->
