<div class="headers">
  <h1>New Product</h1>
</div>

<%= render 'form', product: @product %>

<div class="container-fluid">
  <p>
   <%= link_to 'Back', products_path, class: "btn btn-default btn-lg link-buttons" %>
  </p>
</div>
